
body {
    font-family : Arial , sans - serif ;
    line-height : 1.6;
    color :darkgreen;
    max-width : 900 px ;
    margin : 0 auto ;
    padding : 20 px ;
}
header
{
    background-color: darkgreen;
}
.abtt {
background-color : honeydew ;
color : black ;
padding : 40 px 20 px ;
text-align : right;
}

.abt{
    background-color : honeydew ;
color : black ;
padding : 40 px 20 px ;
text-align : left;
}

.nav-bar
{
    padding: 2px;
}
.nav-bar ul
{
    display: flex;
    list-style: none;
    gap: 10px;
    letter-spacing: 1.5px;
}

.nav-bar ul li a{
    color: honeydew;
     text-decoration: none;
}
*{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.nav-bar ul li a:hover
{
   
    border-bottom: 4px solid white;
    padding-bottom: 6px;
}